@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin :0;
}

body{
    background-color: lightblue;
    font-family: 'Lato', sans-serif;
    margin:0px;
    padding:0px;
    text-align: center;
}

.grid-container{
    display:grid;
    grid-template-areas: 
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    grid-gap:5px;
    padding:5px;
}

.grid-container{
    border:1px solid;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px;
    grid-auto-rows: minmax(100px,auto);
}

/* .Header,.Menu,.Main,.Footer{
    border:2px solid;
} */

.Header{
    grid-column:1/7;
    grid-row:1;
}


.Main{
    grid-column:1/7;
    grid-row:2/7;
}

.Footer{
    grid-column:1/7;
    grid-row:7;
}

nav{
    float:right;
}

nav a{
    text-decoration:none;
    margin:10px;
    font-weight: bold;
}

a:hover{
    transition-duration: 0.4s;
    text-decoration-line: underline;
    font-size: larger;
}
.Main{
    text-align:justify;
}

.Main h1, h2,p{
    margin:5px;
}


#Reseaux{
    display:inline-block;
    flex-direction: column;
    justify-content: justify;
}

